<footer>
  <section class="footer-dados">
    <div class="sobre-nos">
      <h6>Redes</h6>

      <div class="icones, sobre-nos">
        <a href="https://www.github.com/gabrielmoraes2/">
          <img class="action" src="https://img.icons8.com/ios-filled/50/000000/github.png" alt="Github" /></a>

        <a href="https://www.linkedin.com/in/gabriel-moraes-santos-b42a53170/">
          <img class="action" src="https://img.icons8.com/ios/50/null/linkedin-circled--v1.png" alt="Linkedin" /> </a>
      </div>
    </div>
  </section>
</footer>