<mat-card class="sobreMim">
    <mat-card-header>
        <mat-card-subtitle class="subtitle">Contarei um pouco sobre minha trajetória</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="textinho">
        Me chamo Gabriel Moraes, tenho 22 anos e moro em Guarulhos, São Paulo, a princípio comecei a me interessar
        pela tecnologia com cerca de 18 anos, assim, tendo a curiosidade para me aprofundar mais na área.
        Quando tive 21 anos, via meu irmão colegas e parentes realizando diversos cursos na area de tecnologia,
        me fazendo querer continuar a aprender mais ainda sobre esse ramo.
        Em 2022 tive a oportunidade de realizar um Bootcamp na SoulCode Academy, onde lá me expecializei
        em diversas tecnologias, entre elas, Java, JavaScrypt, Angular e SQL
    </mat-card-content>
</mat-card>
