.spacer {
    flex: 1 1 auto;
  }
.navbar{
  background-image: linear-gradient(to top, #f27c3800, #0095ff);
 box-shadow: 0.8px 0.8px 0.8px 1px black;
 font-family: Monospace;
 color: #000000;


}
mat-toolbar{
  background:none;
}