<div class="tp">
  <section class="intro">
    <div class="projetos">
      <h1>Sejam Bem Vindos</h1>
      <br>
      <h3>Recrutadores e Desenvolvedores</h3>
    </div>
  </section>
</div>
<div>
  <main id="home">
    <section class="sobreMy">
      <div class="contato">
        <div class="linha"></div>
        <h6>SOBRE MIM</h6>
        <div class="linha"></div>
      </div>
      <p>
        <app-sobremim></app-sobremim>
      </p>
    </section>
    <section class="section-2">
      <div class="contato">
        <div class="linha"></div>
        <h6>PROJETOS</h6>
        <div class="linha"></div>
      </div>
      <div class="cardPai">
        <div *ngFor="let proj of project" class="card" style="width: 18rem;">
          <img src="../../assets/img/em-breve-3-8041.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Novas Atualizações viram em breve.</p>
            <a href="#" class="btn btn-primary">{{proj.link}}</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section-3">
      <div class="contato">
        <div class="linha"></div>
        <h6>TECNOLOGIAS</h6>
        <div class="linha"></div>
      </div>
      <div class="text">
        <p>
          Aqui estão todas as tecnologias que aprendi durante minha trajetória no Bootcamp
        </p>
        <p>
          Estou em busca constante de novos conhecimentos e novas práticas, em breve adicionarei mais
          tecnologias aqui
        </p>
      </div>
      <div class="cardPai">
        <div *ngFor="let img of tecno" class="card" style="width: 10rem;">
          <img src="{{img.link}}" class="card-img" alt="...">
        </div>
      </div>
      <div class="cardPai">
        <div *ngFor="let picture of tec" class="card" style="width: 10rem;">
          <img src="{{picture.link}}" class="card-img" alt="...">
        </div>
      </div>
    </section>
  </main>
</div>