<main id="home">
  <section class="sobreMy">
    <div class="projetos">
      <div class="linha"></div>
      <h6>SOBRE MIM</h6>
      <div class="linha"></div>
    </div>
    <p class="texto">TEXTO SOBRE MIM </p>
  </section>
  <section class="section-2">
    <div class="projetos">
      <div class="linha"></div>
      <h6>PROJETOS</h6>
      <div class="linha"></div>
    </div>
  </section>
  <section class="section-3">
    <div class="contato">
      <div class="linha"></div>
      <h6>CONTATO</h6>
      <div class="linha"></div>
    </div>
  </section>
</main>

<footer>
  <section class="footer-dados">
    <div class="inicio">
    </div>
    <div class="sobre-nos">
      <h6>Redes</h6>
      <mat-icon>linkedin</mat-icon>
    </div>
    <div class="redes">
    </div>
  </section>
</footer>