.celula {
  margin-left: 30%;
}

.sobreMy {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
}

.tp {
  width: 50%;
  height: 50%;
  margin-top: 300px;
  align-items: center;
  padding: 0 350px;
}

.section-2 {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.projetos h1 {
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: Top;
  margin-bottom: -2px;
  color: #000000;
  padding: 0 40px;

}



.projetos {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 37px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 55px;

}

.intro {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 37px;
  align-items: center;
  margin-top: 55px;
}

.intro h1,
h3 {
  font-family: Monospace;
  font-size: 60px;
  line-height: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: Top;
  margin-bottom: -2px;
  color: #000000;
  padding: 0 40px;

}


.linha {
  height: 1px;
  background-color: #F27C38;
  width: 372px;
}



.contato {
  display: flex;
  align-items: center;
  height: 20%;
  margin-bottom: 37px;
  align-items: center;
}

.contato h6 {
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: Top;
  margin-bottom: -2px;
  color: #000000;
  padding: 0 40px;
}

.section-3 {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardPai{
display: flex;

}

.card{
  margin-right: 20px;
}

.card-img-top{
width: 200px;
height: 150px;

}

